*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(163, 163, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_image{
    height:450px;
    width: 800px;
    /* border: 2px solid black; */
    margin-top: 180px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgba(233, 248, 229, 1);
}
.container_details{
    height: 450px;
    width: 400px;
    border: 2px solid rgba(252, 254, 255, 1);
    background-color: rgba(252, 254, 255, 1);
    border-top-left-radius: 6%;
    border-bottom-left-radius: 6%;
}
img{
    height: 250px;
    width: 250px;
    margin-right: 70px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.heading>#leaf{
    height: 20px;
    width: 20px;
    margin-right: 8px;    
}
span{
    color: rgba(2, 13, 25, 1);
    font-size: 22px;
    font-family: 'Aladin';
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'poppins';
}
.form-container {
    padding: 20px;
    border-radius: 8px;
    margin-top: -10px;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
    font-size: 12px;
    font-family: 'poppins';
    color: rgba(0, 0, 0, 1);
}
.form-group input {
    height: 25px;
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: lighter;
}
.form-group img {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(30%);
}
button{
    height: 28px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: rgba(115, 137, 93, 1);
    font-family: 'poppins';
    color: rgba(252, 254, 255, 1);
    margin-top: 10px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'poppins';
    color: rgba(176, 186, 195, 1);
}
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-icons .icon-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.social-icons img{
    width: 11px;
    height: 11px;
    margin-right: -1px;
}
h4{
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'poppins';
    color: rgba(74, 74, 74, 1);
    font-weight: lighter;
}
a{
    color: rgba(115, 137, 93, 1);
    font-family: 'poppins';
    margin-left: 8px;
    font-size: 9px;
    text-decoration: none;
}